<h1>This is the About page</h1>
<ul>
	<li>This is the first test ruby on rails app</li>
	<li>Will continue updating during class</li>
	<li>My goal is to understand structure of the app</li>
	<li>It will be fun building websites</li>
	<li>I have number of projects lined up</li>
	<li>This is where we start</li>
</ul>

